/* ======================================== */
/* INÍCIO CONFIGURAÇÃO GERAL DAS TAGS       */
/* ======================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body,html {
    height: 100%;
    background-color: #151515;
    color: #ffd000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

footer {
    background-color: #ffd000;


    
}

.logo {
    width: 170px;
    position: absolute;
    top: -20px;
    
}
.containerimgCarrinho{
    display: flex;
    align-items: center;
}

.containerMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

}
/* ======================================== */
/* FIM CONFIGURAÇÃO GERAL DAS TAGS          */
/* ======================================== */

/* ======================================== */
/* INÍCIO CONFIGURAÇÃO MENU NAVBAR          */
/* ======================================== */
#containerNavTop {
    display: flex;
    justify-content: space-between;
    background-color: #ffd000;
    color: #000;
    padding-right: 10px;
    height: 140px;
}



.BotaofecharCarrinho {
    display: flex;
    justify-content: flex-start;
    padding: 3px;
}

.BotaofecharCarrinho img {
    height: 20px;
    margin: 5px;
    cursor: pointer;
}

.BotaofecharCarrinho img:hover {
    box-shadow: 0px 0px 4px 2px red;
}

.containerCarrinhoNav {
    position: absolute;
    height: 400px;
    width: 400px;
    right: 10px;
    top: 150px;
    background-color: #000;
    color: #fff;
    box-shadow: -3px 3px 6px 1px #E6B800;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.containerCarrinhoNav:hover {
    box-shadow: -3px 3px 6px 2px #ffd000;
}

.inputCarrinho {
    width: 40px;
    display: flex;
    padding: 2px;
    color: #ffd000;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    padding-left: 12px;
    user-select: none;
    font-size: 19px;
}

.quantidadeItemDentroCarrinho {
    display: flex;
    position: relative;
    padding: 10px;
    background-color: #000000;
    box-shadow: 3px 3px 4px 2px #E6B800;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
}

.quantidadeItemDentroCarrinho:hover {
    box-shadow: 3px 3px 5px 3px #ffd000;
}

.btMaisCarrinho, .btMenosCarrinho, .removerItemCarrinho {
    padding: 3px;
    width: 60px;
    color: #000;
    background-color: #E6B800;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

 .btMenosCarrinho:hover, .removerItemCarrinho:hover {
    background-color: red;
    color: #000;
}
.btMaisCarrinho:hover {
    background-color: #ffd000;
}
.removerItemCarrinho {
    position: absolute;
    right: 10px;
    border-radius: 10px;
}

.btMaisCarrinho {
    margin-left: 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btMenosCarrinho {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.containerBtMaisMenosCarrinho {
    display: flex;
    justify-content: center;
    align-items: center;
}

.valorTotalCarrinho {
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 80px;
    text-align: center;
    margin: calc(10%);
    box-shadow: 1px 1px 7px 1px #c19e00;
    color: #000;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 10px;
    background-color: #E6B800;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
}

.valorTotalCarrinho:hover {
    background-color: #ffd000;
}

.itemCarrinho {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.itemCarrinho img {
    height: 60px;
}
/* ======================================== */
/* FIM CONFIGURAÇÃO MENU NAVBAR             */
/* ======================================== */

/* ======================================== */
/* INÍCIO CONFIGURAÇÃO SECTION LANCHE       */
/* ======================================== */
.sectionLanche {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;

}
.sectionLanche > .itemLanche:first-child{
    display: none;
}



.itemLanche {
    width: 350px;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 15px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 4px 5px 4px 1px #E6B800;
    margin-right: 20px;
    margin-bottom: 20px;
}

.itemLanche img:not(.containerImgImagemBotao img) {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 4px 5px 4px 1px #E6B800;
}

.itemLanche:hover {
    box-shadow: 4px 5px 5px 2px #ffd000;
}

.btnContainer {
    width: 100px;
}

.infoLanche {
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
}

.imgBotaoAbrirModal {
    display: flex;
    border-bottom-right-radius: 13px;
    border-top-left-radius: 13px;
    background-color: #E6B800;
    color: black;
    padding: 2px;
    width: 110%;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    
    
}
.imgBotaoAbrirModal h4 {
    margin-left: 10px;
}

.imgBotaoAbrirModal:hover {
    background-color: #ffd000;
    box-shadow: 0px 0px 1px 2px #E6B800;
}

.imgBotaoAbrirModal img {
    height: 20px;
  
}

.containerImgImagemBotao {
    display: flex;
    width: 25px;
    padding: 1px;
    background-color: black;
    border-top-left-radius: 10px;
}



/* ======================================== */
/* FIM CONFIGURAÇÃO SECTION LANCHE          */
/* ======================================== */

/* ======================================== */
/* INÍCIO CONFIGURAÇÃO ITEM LANCHE MODAL    */
/* ======================================== */
.esconde {
    display: none !important ;
}

.containerModal.esconderModal {
    display: none;
}

.containerModal {
    background-color: #000000ad;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;

    
}

.itemLancheModal {
    background-color: #151515fa;
    margin: auto;
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    box-shadow: 0px 3px 10px 1px #E6B800;
    user-select: none;
    
}


.itemLancheModal:hover {
    box-shadow: 0px 3px 7px 2px #ffd000;
}

.fecharModal {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 2px;
    font-size: 30px;
    user-select: none;
    cursor: pointer;
    width: 35px;
}

.fecharModal:hover {
    color: red;
}

.imgLancheModal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLancheModal img {
    width: 220px;
    height: 220px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 3px 3px 5px 1px #ffd000;
}

.infoLancheModal {
    width: auto;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.containerTituloInfoLancheModal {
    display: block;
    height: 150px;
}

.btnContainerModal {
    display: flex;
    justify-content: center;
}



.nomeLancheModal {
    font-size: 40px;
}

.botaoModal {
    background-color: #E6B800;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
}

.botaoModal:hover {
    background-color: #ffd000;
}

.qtItem {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 40px;
    font-weight: bolder;
}

.btnMais, .btnMenos {
    user-select: none;
    width: 90px;
    cursor: pointer;
    background-color: #E6B800;
    color: #000;
    font-weight: bolder;
    font-size: 26px;
}

.btnMais:hover, .btnMenos:hover {
    background-color: #ffd000;
}

.btnMais {
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.btnMenos {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.btnMenos:hover{
    background-color: red;
}

.containerValorImagemBtnModal input {
    height: 50px;
    width: 240px;
}

.btnModal {
    display: flex;
}

.valorIndividualModal{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 100px;
    font-size: 19px;
    box-shadow: 1px 2px 2px 1px red;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;    
    margin-right: 7px;
}
/* ======================================== */
/* FIM CONFIGURAÇÃO ITEM LANCHE MODAL       */
/* ======================================== */
